/*Thenujah Ketheeswaran*/
/*ICS207*/
/*February 2, 2021*/

p 
{
	font-family: garamond;	
	font-size:18px;
}

body
{
	background-color: rgb(204, 179, 230);
}

h1
{
	font-family:"Lucida Handwriting";
	text-align: center;
	border: 5px solid black;
	color:Indigo;
	text-decoration:underline;
}


h3
{
	background-color:rgb(166, 77, 255);
	text-decoration:underline;
	text-align: center;
}

h4
{
	font-size:20px;
}

h5
{
	font-size: 20px;
}

#highlight
{
	background-color: rgb(166, 77, 255);
}

/*Classes*/

.center
{
	text-align:center; 
}