/*Thenujah Ketheeswaran*/
/*ICS207*/
/*February 2, 2021*/

p 
{
font-family: Garamond;	
size:20px;
}

h1
{
	text-decoration:underline;
}


h3
{
	background-color:LightSkyBlue;
	text-decoration:underline;
}

/*Classes*/

.center
{
	text-align:center; 
}

.box
{
	
}