/*Thenujah Ketheeswaran*/
/*ICS207*/
/*February 2, 2021*/

/*Formatting and Styling For My Index Page*/

h1 
{
	font-family:"Lucida Handwriting";
	text-align: center;
	border: 5px solid black;
	color:DarkBlue;
	text-decoration:underline;
}


h3
{
	font-family: garamond;
	color: black;
	font-size:18px;
	text-align: center;
}

h2
{
	text-align: center;
	text-decoration:underline;
}


/*IDs*/

#highlight
{
	background-color: white;
}

#logo
{
	margin: 10px 500px 10px;
}

p
{
font-family: ;	
}

/*Classes*/

.box
{
	border: 5px solid black;
}

.center
{
	text-align: center;
}

/*Head Bar Positioning*/

.drawing
{
	 margin: 5px 100px 10px;
}

.poetry
{
	margin:5px 25px 10px;
}

.baking
{
	margin:5px 50px 10px;
}

.references
{
	margin:5px 75px 10px;
}


/*Index Images in Classes*/

.balloons
{
	margin:5px 200px 10px;
}

.blueRoses
{
	margin:-230px 500px 40px;
}

.butterflyHomepage
{
	margin:-250px 800px 50px;
}































































