/*Thenujah Ketheeswaran*/
/*ICS207*/
/*February 2, 2021*/

p 
{
	font-family: garamond;	
	font-size:18px;
}

body
{
	background-color: LightPink;
}

h1
{
	font-family:"Lucida Handwriting";
	text-align: center;
	border: 5px solid black;
	color:Crimson;
	text-decoration:underline;
}


h3
{
	background-color: PaleVioletRed;
	text-decoration:underline;
}

h4
{
	font-size:20px;
	text-decoration:underline;
}

h5
{
	font-size: 20px;
	text-decoration:underline;
}

#highlight
{
	background-color: PaleVioletRed;
}

/*Classes*/

.center
{
	text-align:center; 
}
